include LICENSE
include README.md
include MANIFEST.in
include version.py
include setup.py
include seqsero2_db/antigens.pickle
include seqsero2_db/H_and_O_and_specific_genes.fasta
include seqsero2_db/invA_mers_dict
include seqsero2_db/special.pickle
include seqsero2_db/mlst.pickle
include seqsero2_db/kmer/salmonella_35.txt
include seqsero2_db/kmer/salmonella_aroC.tfa
include seqsero2_db/kmer/salmonella_config.txt
include seqsero2_db/kmer/salmonella_dnaN.tfa
include seqsero2_db/kmer/salmonella_hemD.tfa
include seqsero2_db/kmer/salmonella_hisD.tfa
include seqsero2_db/kmer/salmonella.log
include seqsero2_db/kmer/salmonella_profile.txt
include seqsero2_db/kmer/salmonella_purE.tfa
include seqsero2_db/kmer/salmonella_sucA.tfa
include seqsero2_db/kmer/salmonella_thrA.tfa
include seqsero2_db/kmer/salmonella_weight.txt
include bin/deinterleave_fastq.sh
